<div class="row">
 <% guitars.each do |guitar| %>
  <div class="col-md-4">
   <div class="card">
   <div class="card-header">
        <%= link_to guitar.user.name, user_path(guitar.user) %> <span class="text-muted"><%= guitar.created_at %></span>
   </div>
   <div class="card-body">
     <% if guitar.photo? %>
       <%= link_to (image_tag "#{guitar.photo.thumb.url}"), guitar,id: "detail-" + guitar.id.to_s %>
     <% else %>
        <%= link_to (image_tag "/assets/default.g", :size => '100x100'), guitar,id: "detail-" + guitar.id.to_s %>
     <% end %>
     <p class="card-text"><%=  guitar.name %></p>
     <%= render 'favorites/favorite_button', guitar: guitar %>
     <% if current_user == guitar.user %>
         <%= link_to "削除", guitar, method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-danger btn-sm' %>
     <% end %>
     </div>
   </div>
 </div>
 <% end %>
</div>

<%= paginate guitars %>