<div class="d-flex align-items-center">
  <h1>投稿</h1>
  <div class="ml-auto posts_button">
      <a class="btn btn-outline-info" href="/">投稿一覧</a>
  </div>
</div>
<div class="row">
    
<%= form_for(@guitar) do |f| %>
   <% if @guitar.photo? %>
      <%= image_tag @guitar.photo.thumb.url %>
   <% else %>
      <%= image_tag "/assets/default.g", :size => '100x100' %>
   <% end %>
      <button type="button" class="btn btn-outline-secondary rounded-pill">
         <%= f.file_field :photo, accept: 'image/jpeg,image/gif,image/png' %>
      </button>
　<div>
　    <%= f.submit '更新', class: 'btn btn-primary' %>
      <% end %>
  </div>
  
  <%= form_for @guitar do |f| %>
  <%= render 'layouts/error_messages', model: f.object %>
    <div class="form-group">
        <%= f.label :category, 'カテゴリー' %>
        <%= f.text_field :category, class: 'form-control' %>
        <small id="poster-tip" class="form-text text-muted">
            カテゴリーを選択
        </small>
    </div>
    <div class="form-group">
        <%= f.label :name, 'モデル名' %>
        <%= f.text_field :name, class: 'form-control' %>
        <small id="title-tip" class="form-text text-muted">
            モデル名を入力
        </small>
    </div>
    <div class="form-group">
        <%= f.label :content, '投稿内容' %>
        <%= f.text_area :content, class: 'form-control', rows:5 %>
        <small id=content-tip" class="form-text text-muted">
            投稿内容を入力。 
        </small>
    </div>
    <%= f.submit '投稿', class: 'btn btn-info btn-block' %>
<% end %>