<div class="d-flex align-items-center mt-4 mb-4">
    <div class="ml-auto posts_button">
        <a class="btn btn-outline-info" href="/" role="button">投稿一覧</a>
         <% if current_user == @guitar.user %>
        <%= link_to '編集', edit_guitar_path(@guitar),class:"btn btn-outline-info" %>
       <% end %>
    </div>
</div>

<div class="row">
<div class="card" style="width:20rem;">
<div class="card-img-top" >
         <% if @guitar.photo? %>
        <img class="rounded img-fluid" src="<%= @guitar.photo.thumb.url(@guitar, { size: 500 }) %>" alt="">
         <% else %>
        <%= image_tag "/assets/default.g.jpg", :size => '100x100' %>
         <% end %>
      </div>
  <div class="card-body">
       <h4 class="card-title"><%= @guitar.name %></h4>
  </div>
  <div class="card-body">
      <p class="card-text"><%= @guitar.category %></p>
  </div>
  <div class="card-body">
      <p class="card-text"><%= @guitar.content %></p>
  </div>
</div>
 
 <div class="col-sm-2">
  <div class="comment-form">
    <%= form_for([@guitar, @comment]) do |f| %>
      <div class="field">
       <%= f.text_area :comment, size: "30x2" %>
      </div>
      <%= f.submit "コメント", class: "btn btn-primary" %>
    <% end %>
  </div>
  
    <h>コメント一覧</h>
    <ul class="list-unstyled">
    <% @guitar.comments.each do |comment| %>
    <li class="media">
      <%= link_to comment.user.name, comment.user %>
      <%= comment.comment %>
      <span class="delete">
        <% if current_user == comment.user %>
        <%= link_to "削除", [@guitar, comment], method: :delete %>
        <% end %>
      </span>
    <% end %>
    </li>
  </div>
</ul>
