<div class="d-flex align-items-center mt-4 mb-4">
    <div class="ml-auto posts_button">
        <a class="btn btn-outline-info" href="/" role="button">投稿一覧</a>
         <% if current_user == @guitar.user %>
        <%= link_to '編集', edit_guitar_path(@guitar),class:"btn btn-outline-info" %>
       <% end %>
    </div>
</div>
<div class="row">
 <div class="col-md-4">
 <div class="card">
  <div class="card-header">
    <% if @guitar.user.image? %>
      <%= image_tag @guitar.user.image.thumb.url, :size => '50x50',:alt => 'ユーザー画像' %>
      <% else %>
       <%= image_tag "/assets/default.u", :alt => 'デフォルト画像',:size => '50x50' %>
      <% end %>
   <%= link_to @guitar.user.name, user_path(@guitar.user) %>
  </div>
   <div class="card-body">
        <% if @guitar.photo? %>
        <%= image_tag @guitar.photo.thumb.url, :alt => 'ユーザー画像' %>
        <% else %>
        <%= image_tag "/assets/default.g", :alt => 'デフォルト画像',:size => '100x100' %>
        <% end %>
    </div>
  <div class="card-body">
       <h4 class="card-title"><%= @guitar.name %></h4>
  </div>
  <div class="card-body">
      <p class="card-text"><%= @guitar.category %></p>
  </div>
  <div class="card-body">
      <p class="card-text"><%= @guitar.content %></p>
  </div>
 </div>
</div>
<div class="col-sm-4">
 <div class="my-3	">
  <div class="comment-form">
    <%= form_for([@guitar, @comment]) do |f| %>
      <div class="field">
       <%= f.text_area :comment, size: "30x2", placeholder: "コメントを入力" %>
      </div>
      <%= f.submit "コメントする", class: "btn btn-primary" %>
    <% end %>
  </div>
 </div>
 <ul class="list-unstyled">
   <div class="media-body">
    　 <h5>コメント一覧</h5>
    <% @guitar.comments.each do |comment| %>
      <div>
      <%= link_to comment.user.name, comment.user %>
      </div>
       <i class="far fa-comments"></i> <%= comment.comment %>
      <span class="delete">
        <% if current_user == comment.user %>
        <%= link_to "削除", [@guitar, comment], method: :delete %>
        <% end %>
      </span>
    <% end %>
    </div>
  </ul>
 </div>
 

 
