<div class="text-center">
  <h1>プロフィール編集</h1>
</div>

<%= form_for(@user) do |f| %>
   <% if @user.image? %>
      <%= image_tag @user.image.thumb.url, :alt => 'ユーザー画像' %>
   <% else %>
      <%= image_tag "/assets/default.u", :alt => 'デフォルト画像',:size => '100x100' %>
   <% end %>
      <button type="button" class="btn btn-outline-secondary rounded-pill">
         <%= f.file_field :image, accept: 'image/jpeg,image/gif,image/png' %>
      </button>


<div class="row">
  <div class="col-sm-6 offset-sm-3">
    <%= render 'layouts/error_messages', model: f.object %>
      
      <div class="form-group">
        <%= f.label :name, '名前' %>
        <%= f.text_field :name, class: 'form-control' %>
      </div>
      
      <div class="form-group">
        <%= f.label :profile, '自己紹介' %>
        <%= f.text_field :profile, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :email, 'メールアドレス' %>
        <%= f.email_field :email, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :password, 'パスワード' %>
        <%= f.password_field :password, class: 'form-control' %>
      </div>
      
      <%= f.submit '保存', class: 'btn btn-info btn-block' %>
    <% end %>
  </div>
</div>

　
