<% if logged_in? %>
 <div class="row">
    <h1>Guitars</h1>
 </div>

 <div class="row">
    <%= render 'guitars/guitars', guitars: @guitars %>
 </div>
<% else %>
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
         <img class="d-block w-100" src="/assets/top1.jpg/" alt="First slide" width="1000" height="400">
        <div class="container">
          <div class="carousel-caption text-left">
            <h1>自慢のギターをシェアしよう</h1>
            <p>自慢のギターを投稿しよう。それはどんなサウンド？</p>
            <p><%= link_to 'ユーザー登録', signup_path, class: 'btn btn-lg btn-info' %></p>
            <p><%= link_to 'ゲストユーザー', guest_path, method: :post, class: 'btn btn-lg btn-success' %></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
         <img class="d-block w-100" src="/assets/top2.jpg/" alt="Second slide" width="1000" height="400">
        <div class="container">
          <div class="carousel-caption">
            <h1>好きなジャンルが合う人と繋がろう</h1>
            <p>好きな音楽ジャンルが似ている人は、どんなギターを持っているんだろう？</p>
            <p><<%= link_to 'ユーザー登録', signup_path, class: 'btn btn-lg btn-info' %></p>
            <p><%= link_to 'ゲストユーザー', guest_path, method: :post, class: 'btn btn-lg btn-success' %></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
         <img class="d-block w-100" src="/assets/top3.jpg/" alt="Tired slide"  width="1000" height="400">
        <div class="container">
          <div class="carousel-caption text-right">
            <h1>お気に入りの１本を探そう</h1>
            <p>次はどんな１本がいいだろう。一生付き合える相棒を探そう。</p>
            <p><%= link_to 'ユーザー登録', signup_path, class: 'btn btn-lg btn-info' %></p>
            <p><%= link_to 'ゲストユーザー', guest_path, method: :post, class: 'btn btn-lg btn-success' %></p>
          </div>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <hr class="featurette-divider">
  <div class="container marketing">
    <div class="row">
      <div class="col-lg-4">
       <i class="far fa-file-image fa-3x "></i>
        <h2>写真を投稿</h2>
        <p>自分の楽器の魅力を伝えよう</p>
      </div>
      <div class="col-lg-4">
        <i class="far fa-comment-dots fa-3x"></i>
        <h2>投稿にコメント</h2> 
        <p>気軽にコメントしてユーザー同士で繋がろう</p>
      </div>
      <div class="col-lg-4">
        <i class="fas fa-bookmark fa-3x"></i>
        <h2>気になる楽器は保存</h2>
        <p>お気に入り機能で気になる楽器は保存しておこう</p>
      </div>
    </div><!-- /.row -->
  </div>
    
    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <!-- <h2 class="featurette-heading">First featurette heading. <span class="text-muted">It'll blow your mind.</span></h2> -->
        <h2 class="featurette-heading">楽器好きの為の<br>
        <span class="text-muted">Guitar List</span></h2>
        <p class="lead">楽器屋さんに行ってもたくさんありすぎて何が良いのか分からない。<br>
        ちょっと良いギターが欲しいけど、選ぶの失敗したくない。<br>
        そんなギタープレイヤー達の為のアプリケーションです。
        </p>
        <p><%= link_to '無料登録', signup_path, class: 'btn btn-lg btn-info' %></p>
      </div>
      <div class="col-md-5">
        <img class="featurette-image img-fluid mx-auto" src="/assets/topimage.jpg/" alt="Generic placeholder image">
      </div>
    </div>
    
     <hr class="featurette-divider">
    
    <footer class="container">
    
    <p class="float-right"><a href="/">トップに戻る</a></p>
    
  </footer>
<% end %>